<div class="modal-content" (click)="$event.stopPropagation()">
  <button class="close-button" (click)="closeModal()">✖</button>
  <h4 class="heading-l">{{ modalName }}</h4>
  
  <form>
    <label class="heading-s" for="title">Title</label>
    <span>
      <input 
        [formControl]="name" 
        #title 
        class="text-input title-input" 
        name="title" 
        id="title" 
        type="text" 
        [value]="titleValue" 
        placeholder="e.g. Take coffee break" 
      />
      <div class="error-message" *ngIf="name.invalid && (name.dirty || name.touched) && name.hasError('required')">
        Can't be empty
      </div>
    </span>

    <label class="heading-s" for="description">Description</label>
    <textarea 
      #description 
      class="description-input" 
      name="description" 
      id="description" 
      [value]="descriptionValue" 
      placeholder="e.g. It's always good to take a break."
    ></textarea>

    <label class="heading-s" for="status">Status</label>  <!-- Added status field -->
    <select #status class="select" name="status">
      <option *ngFor="let value of statusValues" [value]="value.name" [selected]="value.name == boardService.currentTask?.status">
        {{ value.name }}
      </option>
    </select>

    <button 
      *ngIf="modalName === 'Edit Task'" 
      (click)="saveTask($event, title.value, description.value, status.value)" 
      class="btn button-primary-s submit">
      Save Changes
    </button>
    <button 
      *ngIf="modalName === 'Add New Task'" 
      (click)="createTask($event, title.value, description.value, status.value)" 
      class="btn button-primary-s submit">
      Create Task
    </button>
  </form>
</div>
