
<ng-container *ngIf="columns.length > 0">
  <!-- Display all columns of the selected board -->
  <app-column
    *ngFor="let column of columns; let i = index"
    [columnName]="column.name"
    [taskNumber]="column.tasks.length" 
    [tasks]="column.tasks"  
    [color]="colors[i]"
    [columnIndex]="i">
  </app-column>

  <!-- Button to add a new column -->
  <div *ngIf="columns.length > 0" (click)="onNewColumnClick()" class="new-column">
    <h2 class="heading-xl">+ New Column</h2>
  </div>
</ng-container>



