<div class="modal-head">
    
    <h4 class="heading-l">{{boardService.currentTask?.title}}</h4>
    <button (click)="openEditDeleteContainer()" class="btn-vertical-dots"><img src="assets/icon-vertical-ellipsis.svg" alt="3 dots"></button>
    <div *ngIf="showEditDeleteContainer" class="edit-delete-container">
        <button (click)="modalShowService.openEditTaskModal()" class="edit-task">Edit Task</button>
        <button (click)="openDeleteTaskModal()" class="delete-task">Delete Task</button>
    </div>
</div>

<p class="body-l">{{boardService.currentTask?.description}}</p>
<h5 class="heading-s">Subtasks ({{filterCompletedTasks(boardService.currentTask?.subtasks || [])}} of {{boardService.currentTask?.subtasks?.length || 0}})</h5>

<div class="subtask-container">
    <div 
      class="checkbox-container" 
      *ngFor="let subtask of boardService.currentTask?.subtasks; let i = index"
      (click)="handleCheckboxClick(subtask, i)">  
        <input [checked]="subtask.isCompleted" type="checkbox" aria-label="Subtask completed">
        <span class="checkbox-replace"></span>
        {{subtask.title}}
    </div>
</div>

<div class="status-container">
    <label class="heading-s">Current Status</label>
    <select #status (change)="changeStatus(status.value, boardService.currentTask)" name="status" id="status-select" class="select">
        <option 
          *ngFor="let column of boardService.currentBoard?.columns || []">
          [value]="column.name"
          [selected]="column.name == boardsService.currentTask?.status">
          {{column.name}}
        </option>
    </select>
</div>
